:host {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 400px; /* Adjust based on your preference */
    margin: 15px auto; /* Center the dialog horizontally */
  }
  
  h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Center the text */
  }
  
  p {
    font-size: 1.2em;
    margin-bottom: 20px;
    color: #666;
    text-align: center; /* Center the text */
  }
  
  .countdown {
    font-size: 1.5em; /* Adjusted to a smaller size */
    font-weight: bold;
    color: #f44336; /* Red color for emphasis */
    margin-bottom: 15px;
    display: inline; /* Ensure the countdown number is inline with the text */
  }