<!-- story -->
<div class="story">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-6/339443135_1264591487776723_1686334611574014372_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFigYiUEm1G1q6Y47rHHgsvNpZK-nCbh-o2lkr6cJuH6vXpSm5yY2e0iX-i5cS1FxbQ9eFfdPVGLHI6-20y2XkA&_nc_ohc=jl86aLuUglYQ7kNvgEwXADI&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYAZ_Jf7wziqglOU-2275tL5VATWoOmInB5uDR4dvjmMrg&oe=664FA9AE);">
        <div class="create-card">
                <i class="fas fa-plus"></i>
        </div>
    </div>
    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-6/434586987_1134899767538606_8222820044524326290_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeGEK36m-VbFT16xhAXTCNfufpF50vbfbth-kXnS9t9u2MH0J2JjxbeWpNHn94Bl8M3NTFo4MYnb_StTcfmv245k&_nc_ohc=zMDdf9QZy9IQ7kNvgHcZVii&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYDzT8r3htzT7vgV8xXn8cBT_Kp4Duwe6DdPmFv2ipdKNQ&oe=664FCB1B);">
        <div class="rounded"></div>
        <span>Mary Anne Armenta</span> <!-- Corrected closing tag -->
    </div>
    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t1.30497-1/143086968_2856368904622192_1959732218791162458_n.png?_nc_cat=1&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEZqHPorpyE4DvWYt4GpxxIso2H55p0AlGyjYfnmnQCUQQxaImoBq1Ad58vSTtUvpJOzBRuCzG4ibVdOJG0fwqV&_nc_ohc=pBWKZ5fltKgQ7kNvgES1sOJ&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYAw0FzY1gXLUmWbCsogrJ4DWsGXwdAOS457BwhLUh2Brg&oe=667167B8);">
        <div class="rounded"></div>
        <span>Johnrey Dado</span> <!-- Corrected closing tag -->
    </div>
    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-1/368026047_1788561318228013_224250882585157351_n.jpg?stp=dst-jpg_s200x200&_nc_cat=100&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeEhbwh7XUNO0ElYMQcBtJ2daq1ONyjtactqrU43KO1py21NFy2WKJaY36kS3g97MbsiXx1pHCPU2MUydcFcRDP9&_nc_ohc=GMNlW22ojsgQ7kNvgEhLku0&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYDCgij8DXvqFmrMicW9zWAF5Q11N2ujzG1Bv44SpCRRGg&oe=664FC4CB);">
        <div class="rounded"></div>
        <span>Anthony Renzo Zuniga</span> <!-- Corrected closing tag -->
    </div>
    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-6/317603531_2150272551826061_511851421909408010_n.jpg?stp=dst-jpg_p206x206&_nc_cat=103&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeFU7gBwOCHLT--vQxefoIk4UvTCEGAPNadS9MIQYA81p1497TYefNRTDfCYs1s1-gn1MQ0KM5EenQ0hkxKayLQ1&_nc_ohc=twVIojfIiNkQ7kNvgEWL-b9&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYDEAoMfukMq7kVEsJSFf5lXB9s8eFqeRhjv1Zsh8i_RSQ&oe=664FB7A2);">
        <div class="rounded"></div>
        <span>Angelo Bautista</span> <!-- Corrected closing tag -->
    </div>
    <div class="story-item" style="background-image:url(https://scontent.fwnp1-1.fna.fbcdn.net/v/t39.30808-1/399057557_1970988289937084_3972606568076418750_n.jpg?stp=dst-jpg_p200x200&_nc_cat=111&ccb=1-7&_nc_sid=5f2048&_nc_eui2=AeH1E87L0d-jxZNe9Knz7z4FsechPFUey6ix5yE8VR7LqEvwBN7lqraCKrJVPVu51P8HbSv_lYMBzNwtwdfZVNGF&_nc_ohc=5tDy7eLZL_MQ7kNvgF85oXD&_nc_ht=scontent.fwnp1-1.fna&oh=00_AYCl4pDGMKTGQMNQudm3g-XXCjaa3cyLGRHPyXMEB4RFfQ&oe=664FC818);">
        <div class="rounded"></div>
        <span>Dave Angelo Aladano</span> <!-- Corrected closing tag -->
    </div>
</div>
<!-- end of the story -->