<div class="content">
  <div class="flex-div">
    <div class="name-content"  style="display: flex;justify-content: center;flex-direction: column;">
      <h1 class="logo" style="width:450px; padding: 10px;color: #fff;">KUYA EMMANS</h1>
      <img src ="https://tse1.mm.bing.net/th?id=OIP.Ydp6sc3IygvusBs8BCjoOwHaHa&pid=Api&P=0&h=180">
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <!-- Add this inside your email input field -->
      <input type="email" placeholder="Enter your email" formControlName="email" required />
      <input type="text" placeholder="Username" formControlName="username" required />
      <input type="password" placeholder="Password" formControlName="password" required>
      <div *ngIf="errorMessage" class="error-message" style="color: red;">{{ errorMessage }}</div> <!-- Display error message -->
      <button type="submit" class="login" style="background-color: rgb(0,0,0);">Register</button>
      <!-- <a href="#">Forgot Password?</a> -->
      <hr>
      <button type="button" class="create-account" (click)="navigateToLogin()">Already have an account</button>
    </form>
  </div>
</div>